.sidebarHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2f32;
  height: 45px;
}

.headControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  cursor: pointer;
  width: 30px;
  height: 30px;
  img {
    border-radius: 50%;
    width: 30px;
    margin-left: 10px;
    object-fit: contain;
  }
}
