.sidebarChat {
  display: flex;
  padding-left: 15px;
  height: 50px;
  background: #131c21;
  overflow: none;
  align-items: center;
  color: rgb(200, 200, 200);
  cursor: pointer;
  border-top: 0.05px solid rgb(51, 51, 51);
}
.grp {
  border-bottom: 1px solid green;
}

.sidebarChat:hover {
  background-color: #2a2f32;
}
.sidebarChat > h4 {
  align-content: center;
  place-items: center;
  margin: 0 auto;
  font-size: medium;
  font-weight: 600;
  margin: 5px;
}
.sidebarChat__info > p {
  color: grey;
  margin: 0px;
  padding: 2px;
}
.sidebarChat__info > h2 {
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
}

.sidebarChat__info {
  margin-left: 15px;
}

a {
  text-decoration: none !important;
  color: black;
  font-size: 13px;
  margin: 0px;
}

.main-ww {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-top: 3px;
  }
}
