.userVideo {
    margin: 10px;
    video {
        height: 100%;
        width: 100%;
        aspect-ratio: 15/9;
        object-fit: cover;
        position: relative;
        position: relative;
        object-position: center;
    }
}
