.App {
  background-color: #090e11;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
}
.app__body {
  display: flex;
  height: 95vh;
  min-width: 550px;
  width: 85%;
  max-width: 1400px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}
