.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}
.chat__header {
  padding-left: 20px;
  height: 56px;
  display: flex;
  background: #262d31;
  align-items: center;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

input {
  padding-left: 0px;
  color: white;
  background: #2a2f32;
  display: flex;
  flex: 0.8;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.chat__headerInfo > h4 {
  margin-bottom: 5px;
  font-weight: 500;
}
.chat__headerInfo > p {
  color: grey;
  margin: 0px;
  font-size: 12px;
}

.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.dis_none {
  display: none;
}
.chat__body {
  flex: 1;
  background-image: url("./back.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: none;
}

.x10px {
  padding-right: 12px;
  padding-left: 12px;
}

.chat__body::-webkit-scrollbar {
  width: 5px;
}

.chat__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat__body::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 10px;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background-color: #262d31;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 30px;
}

.chat__reciever {
  margin-left: auto;
  background-color: #054740;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  color: grey;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding-left: 15px;
  background: #1e2128;
  padding-right: 15px;
  border-top: 0.05px solid rgb(90, 90, 90);
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
h4 {
  margin-top: 3px;
}

.chat__footer > form > button {
  display: none;
}

.chat___footer > .MuiSvgIcon-root {
  padding: 10px;
  color: grey;
}

.chat__default {
  background: #262d31;
  flex: 0.7;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.chat__default > img {
  object-fit: contain;
  object-position: center;
  height: 500px;
}
